body {
  background: pink;
}

button {
 background: #67b11c;
 border: 2px solid #467813;
 border-radius: 5px;
 color: #fff;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 padding: 15px 20px 15px 50px;
}
